<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Sample Torque Project Tests</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8663d3">  <td>19/04/10 15:28:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass(org.testng.ITestContext)[pri:0, instance:com.scholastic.torque.runner.Run@71c8becc]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1905665784</td>   <td></td> </tr>
<tr bgcolor="8663d3">  <td>19/04/10 15:28:49</td>   <td>427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.scholastic.torque.runner.Run@71c8becc]">feature</td> 
  <td>TestNG-tests-1@1905665784</td>   <td></td> </tr>
<tr bgcolor="8663d3">  <td>19/04/10 15:29:41</td>   <td>52353</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.scholastic.torque.runner.Run@71c8becc]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1905665784</td>   <td></td> </tr>
<tr bgcolor="8663d3">  <td>19/04/10 15:29:41</td>   <td>52572</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass(org.testng.ITestContext)[pri:0, instance:com.scholastic.torque.runner.Run@7995092a]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1905665784</td>   <td></td> </tr>
<tr bgcolor="8663d3">  <td>19/04/10 15:29:42</td>   <td>52621</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.scholastic.torque.runner.Run@7995092a]">feature</td> 
  <td>TestNG-tests-1@1905665784</td>   <td></td> </tr>
<tr bgcolor="8663d3">  <td>19/04/10 15:30:00</td>   <td>70923</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.scholastic.torque.runner.Run@7995092a]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1905665784</td>   <td></td> </tr>
<tr bgcolor="8663d3">  <td>19/04/10 15:30:00</td>   <td>71001</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass(org.testng.ITestContext)[pri:0, instance:com.scholastic.torque.runner.Run@23f7d05d]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1905665784</td>   <td></td> </tr>
<tr bgcolor="8663d3">  <td>19/04/10 15:30:00</td>   <td>71046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.scholastic.torque.runner.Run@23f7d05d]">feature</td> 
  <td>TestNG-tests-1@1905665784</td>   <td></td> </tr>
<tr bgcolor="8663d3">  <td>19/04/10 15:30:11</td>   <td>82291</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.scholastic.torque.runner.Run@23f7d05d]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1905665784</td>   <td></td> </tr>
<tr bgcolor="8663d3">  <td>19/04/10 15:30:11</td>   <td>82365</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass(org.testng.ITestContext)[pri:0, instance:com.scholastic.torque.runner.Run@7692d9cc]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1905665784</td>   <td></td> </tr>
<tr bgcolor="8663d3">  <td>19/04/10 15:30:11</td>   <td>82418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.scholastic.torque.runner.Run@7692d9cc]">feature</td> 
  <td>TestNG-tests-1@1905665784</td>   <td></td> </tr>
<tr bgcolor="8663d3">  <td>19/04/10 15:30:21</td>   <td>92459</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.scholastic.torque.runner.Run@7692d9cc]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1905665784</td>   <td></td> </tr>
</table>
