<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SMOKE_CHROME_QA</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a0ee78">  <td>19/06/07 10:25:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.scholastic.torque.runner.Run@24959ca4]">feature</td> 
  <td>TestNG-test=Check logo and 4 buttons-1@757195188</td>   <td></td> </tr>
<tr bgcolor="a0ee78">  <td>19/06/07 10:25:54</td>   <td>-480</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass(org.testng.ITestContext)[pri:0, instance:com.scholastic.torque.runner.Run@24959ca4]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Check logo and 4 buttons-1@757195188</td>   <td></td> </tr>
<tr bgcolor="a0ee78">  <td>19/06/07 10:27:23</td>   <td>88659</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.scholastic.torque.runner.Run@24959ca4]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Check logo and 4 buttons-1@757195188</td>   <td></td> </tr>
</table>
